.Checkout {
  z-index: 21;
  width: 50%;
  max-width: 500px;
  height: 50%;
  position: fixed;
  top: 25%;
  left: 25%;
  background-color: aliceblue;
  border-radius: 12px;
}
.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
  border-radius: inherit;
}
.month {
  margin-left: 1em;
  color: white;
  text-shadow: none;
  background-color: hsl(217, 13%, 31%);
}

.form input {
  margin-left: 1em;
  text-shadow: none;
  color: black;
}
.form label {
  text-shadow: none;
  color: navy;
}
.error {
  margin: 1em;
  color: hsl(217, 13%, 31%);
  text-shadow: none;
  font-size: 0.8em;
  font-weight: 500;
}
