.confirmation {
  z-index: 21;
  width: 50%;
  height: 50%;
  max-width: 450px;
  min-width: 320px;
  /* height: 50%; */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 12px;
}
