.year {
  /* margin-left: 0.5em; */
  text-shadow: none;
  border-radius: 5px;
  color: white;
  background-color: hsl(217, 13%, 31%);
}
.expiration {
  width: 60%;
  margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.expiration span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-shadow: none;
  color: rgb(42, 42, 50);
  margin-bottom: 1.2em;
}
.month_active {
  /* margin-left: 0.5em; */
  text-shadow: none;
  border-radius: 5px;
  color: white;
  background-color: hsl(217, 13%, 31%);
}
.month_inactive {
  /* margin-left: 0.5em; */
  text-shadow: none;
  border-radius: 5px;
  color: white;
  background-color: hsl(217, 13%, 31%);
  pointer-events: none;
  opacity: 40%;
}
