* {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: -0.05rem 0.05rem 0.5rem #000814;
  /* background-color: #dee2e6; */
}
.title {
  font-size: 1.2rem;
  /* text-shadow: -0.05rem -0.05rem 0.5rem ; */
  letter-spacing: 0.1rem;
}
.tile {
  margin-top: 1.2rem;
  background-color: hsla(210, 14%, 89%, 0.3);
  padding-top: 1px;
  padding-bottom: 1px;
}
.pointer_none {
  pointer-events: none;
}
