.details {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  background: white;
  color: #001524;
  height: 30vw;
}
.main {
  width: 60%;
  position: absolute;
  left: 40%;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
}
.main a,
.main p {
  color: #001524;
  text-shadow: none;
}
.main a {
  font-size: 1.5rem;
  font-weight: 600;
}
.main p {
  font-size: 0.8rem;
}
.details button {
  background-color: #ef233c;
  border-radius: 12px;
  font-weight: 600;
  text-align: center;
  width: 100px;
  height: 32px;
  margin: 10px;
  /* display: none; */
}

.image {
  width: 30vw;
  height: 30vw;
  margin: 0 auto;
  border-radius: 12px;
  align-self: center;
  position: absolute;
  left: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
@media screen and (max-width: 750px) {
  .main {
    transform: scale(0.8);
    transition: transform 0.4s;
  }
}
@media screen and (max-width: 617px) {
  .details {
    height: 50vh;
  }
  .image {
    width: 30vw;
    height: 30vw;
    border-radius: 12px;
    top: 2%;
    left: 30%;
    box-shadow: -0.3rem 0.3rem 0.5rem #001524;
  }
  .main {
    top: 20%;
    width: 100%;
    left: -1%;
  }
}
