.date-item {
  width: 64px;
  height: 64px;
  background-color: #ef233c;
  font-weight: 600;
  border: 1px solid white;
  /* margin-left: 1rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  position: absolute;
  left: 2rem;
}
.date-item div {
  text-shadow: none;
}

@media screen and (max-width: 960px) {
  .date-item {
    transform: scale(0.6);
    left: 0;
  }
}
