* {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: -0.05rem 0.05rem 0.5rem #000814;
  /* background-color: #dee2e6; */
}
.title {
  font-size: 1.2rem;
  /* text-shadow: -0.05rem -0.05rem 0.5rem ; */
  letter-spacing: 0.1rem;
  width: 40vw;
}
.tile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: fit-content;
  line-height: 18px;
  margin-top: 1.2rem;
  /* background-color: rgba(168, 218, 220, 0.4); */
  background-color: #090613;
  padding-top: 0.25px;
  padding-bottom: 0.25px;
  transition: transform 0.2s;
}
.info_btn {
  height: 2rem;
  width: 6rem;
  margin-right: 1rem;
  border-radius: 12px;
  background-color: #ef233c;
  font-weight: 600;
}
.pointer_none {
  pointer-events: none;
}
