.details {
  width: 100%;
  margin-top: 1em;
  position: relative;
  color: #001524;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  background-color: #fff;
}
.image {
  width: 100%;
  border-radius: 5px;
  box-shadow: -0.3rem 0.3rem 0.6rem #686464;
}
.event_description {
  width: 100%;
  padding: 0.75em;
  line-height: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  /* border: 2px solid blue; */
}
.event_image {
  width: 45%;
  padding: 0;
}
.details button {
  background-color: #ef233c;
  border-radius: 12px;
  font-weight: 600;
  text-align: center;
  margin-left: 10px;
  text-shadow: none;
  padding: 0.5em 1em;
}
.details button:hover {
  transform: scale(80%);
}
.link {
  text-decoration: none;
  padding-right: 2rem;
  margin-bottom: 2%;
}
.link h4 {
  color: #ef233c;
  text-shadow: none;
}
.event_intro {
  font-size: 0.8em;
  text-shadow: none;
  color: #001524;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 2%;
}
@media screen and (max-width: 700px) {
  .details {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .event_description {
    align-self: center;
  }
  .link {
    transform: scale(0.8);
    margin: 0 auto;
  }
  .buttons {
    transform: scale(0.8);
  }
  .buttons button {
    margin-top: 10px;
  }
}

/* @media screen and (max-width: 956px) {
  * {
    transition: transform 0.4s;
  }
  .details a {
    transform: scale(0.8);
  }
  .details p {
    transform: scale(0.8);
  }
  .button {
    transform: scale(0.7);
  }
}
@media screen and (max-width: 803px) {
  .button {
    left: 40%;
    transition: left 0.4s;
  }
  .details a {
    left: 35%;
    transform: scale(0.7);
    transition: transform 0.4s;
  }
  .details p {
    left: 30%;
    transition: left 0.4s;
  }
}
@media screen and (max-width: 650px) {
  .image {
    all: unset;
    width: 150px;
    height: 150px;
    box-shadow: -0.3rem 0.3rem 0.3rem #908b8b;
  }
  .details a {
    all: unset;
    transform: scale(0.8);
    transition: transform 0.4s;
  }
  .details p {
    all: unset;
    font-size: 10px;
    padding-left: 1rem;
    padding-right: 1rem;
    letter-spacing: 0.5px;
    line-height: 15px;
    color: #001524;
    text-shadow: none;
    font-weight: 500;
  }
  .button {
    all: unset;
    transform: scale(0.65);
    transition: transform 0.4s;
  }
  .details {
    all: unset;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(243, 246, 249);
    border-radius: 12px;
    box-shadow: -0.3rem 0.3rem 0.6rem #686464;
    margin-top: 1rem;
    padding-top: 1rem;
  }
} */
