.stage {
  width: 80%;
  background-color: rgb(218, 165, 165);
  margin: 0 auto;
  margin-top: 1rem;
  position: relative;
  border: 1px solid white;
  min-height: 2rem;
  border-radius: 70%;
  /* height: 5rem; */
}
