.Cart {
  height: 400px;
  max-height: 400px;
  width: 200px;
  max-width: 200px;
  background-color: #4a4e69;
  display: flex;
  justify-content: center;
  position: absolute;
  right: 0;
}

@media screen and (max-width: 930px) {
  * {
    transition: 0.4s;
  }
  .Cart {
    width: 150px;
    transition: width 0.4s;
  }
}
@media screen and (max-width: 790px) {
  * {
    transition: 0.4s;
  }
  .Cart {
    top: 30%;
    min-height: 100px;
    max-height: 200px;
    font-size: 12px;
    width: 120px;
    right: 3%;
  }
}
@media screen and (max-width: 771px) {
  .Cart {
    top: 100%;
    min-height: 100px;
    max-height: 200px;
    font-size: 12px;
    width: 120px;
    right: 3%;
  }
}
