.Footer {
  width: 100%;
  min-height: 2rem;
  height: 4rem;
  font-size: 0.8rem;
  font-family: inherit;
  background-color: #2b2d42;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  margin-top: 50%;
  border-radius: 12px;
}
