.Footer {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  min-height: 2rem;
  font-size: 0.8rem;
  padding: 1em 2em;
  border-radius: 12px;
  font-family: inherit;
  background-color: #2b2d42;
  text-align: center;
  /* border: 1px solid red; */
  margin-top: auto;
  margin-bottom: 2em;
}
