.seats {
  background-color: #bfc2d6;
  margin: 0 auto;
  margin-top: 1rem;
  max-width: 890px;
  height: 500px;
  max-height: 500px;
  position: relative;
  padding-bottom: 1rem;
}

.main {
  /* border: 1px solid red; */
  width: 850px;
  margin: 0 auto;
  height: 400px;
  max-height: 400px;
  display: flex;
  align-items: center;
}
.btn button {
  background-color: #ef233c;
  border-radius: 12px;
  width: 98px;
  height: 32px;
  font-weight: 600;
  margin: 10px;
  /* position: absolute; */
}

@media screen and (max-width: 948px) {
  .main {
    width: 700px;
    transition: width 0.4s;
  }
}
@media screen and (max-width: 930px) {
  .main {
    width: 700px;
    transition: width 0.4s;
  }
}
@media screen and (max-width: 870px) {
  .seats {
    height: 80vh;
  }
  .main {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 790px) {
  .seats {
    background-color: #bfc2d6;
    margin: 0 auto;
    margin-top: 1rem;
    max-width: 80vw;
    height: 500px;
    max-height: 500px;
    position: relative;
    padding-bottom: 1rem;
  }
  .main {
    all: unset;
  }
  .btn {
    position: absolute;
    bottom: 10%;
    left: 30%;
  }
}
@media screen and (max-width: 771px) {
  .seat {
    all: unset;
  }
}
