.header {
  min-width: 500px;
  max-width: 60rem;
  min-height: 3rem;
  background-color: #ffb703;
  margin: 0 auto;
  border-radius: 12px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.pricing {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
  margin-left: 1rem;
}
.seat_status {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-right: 1rem;
  margin-left: 1rem;
}

.pricing span,
.seat_status span {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  margin-right: 1rem;
}
/* @media screen and (max-width: 1120px) {
  .seat_status {
    left: 50%;
  }
}
@media screen and (max-width: 1105px) {
  .seat_status {
    right: 0;
  }
} */
