.seats {
  background-color: #bfc2d6;
  margin: 0 auto;
  margin-top: 1rem;
  width: 100%;
  max-width: 60rem;
  min-height: 500px;
  /* border: 1px solid red; */
  position: relative;
  /* padding-bottom: 1rem; */
}

.btn {
  position: absolute;
  min-width: 10rem;
  bottom: 0;
  left: 38%;
  border: 1px solid red;
  padding-bottom: 2rem;
}
.btn button {
  background-color: #ef233c;
  border-radius: 12px;
  width: 50%;
  height: 32px;
  font-weight: 600;
  margin: 10px;
}

/* @media screen and (max-width: 948px) {
  .main {
    width: 700px;
    transition: width 0.4s;
  }
}
@media screen and (max-width: 930px) {
  .main {
    width: 700px;
    transition: width 0.4s;
  }
}
@media screen and (max-width: 870px) {
  .seats {
    height: 80vh;
  }
  .main {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 790px) {
  .seats {
    background-color: #bfc2d6;
    margin: 0 auto;
    margin-top: 1rem;
    max-width: 80vw;
    height: 500px;
    max-height: 500px;
    position: relative;
    padding-bottom: 1rem;
  }
  .main {
    all: unset;
  }
  .btn {
    position: absolute;
    bottom: 10%;
    left: 30%;
  }
}
@media screen and (max-width: 771px) {
  .seat {
    all: unset;
    height: fit-content;
  }
} */
