.btn {
  background-color: #ef233c;
  border-radius: 12px;
  width: 8rem;
  height: 2rem;
  font-weight: 600;
}
.seats {
  margin-top: 1rem;
  height: 60vh;
  padding-top: 1rem;
}
.main {
  display: flex;
  height: 80%;
  align-items: center;
  justify-content: space-between;
  margin-right: 1rem;
  margin-left: 1rem;
}
