/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
* {
  box-sizing: border-box;
  text-align: center;
}
body {
  /* background-color: #003049; */
}
.App {
  background-color: #003049;
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  padding: 1rem;
  margin: 0 auto;
  /* display: flex;
  flex-direction: column; */
}
.dashboard {
  width: 95%;
  height: 100%;
  border: none;
  display: flex;
  padding-left: 0;
  padding-right: 0;
  margin-left: 2rem;
  margin-right: 2rem;
  /* align-items: center; */
  justify-content: space-between;
  /* background-color: white; */
}
/* @media screen and (max-width: 768px) {
  .App {
    transform: scale(0.8);
  }
} */
