/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
* {
  box-sizing: border-box;
  text-align: center;
}
body {
  background-color: #003049;
}
.App {
  background-color: #003049;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  padding-top: 1rem;
}
